.header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5em;
}

.subheader {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.desc {
  font-size: 1.2rem;
  line-height: 1.4em;
  text-align: center;
  font-weight: bold;
}

.instructions {
  font-size: 1.2rem;
  line-height: 1.4em;
}

.features {
  font-size: 1.2rem;
}

.features > * + * {
  margin-top: 0.5em;
}

.feature {
  margin-left: 1em;
  line-height: 1.4em;
}
