* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.node-visited {
  background-color: green;
}

.node-path {
  background-color: yellow;
}

.node-wall {
  background-color: black;
}

.node-start {
  background-color: rgb(255, 0, 0);
}

.node-end {
  background-color: aqua;
}
