* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.node-visited {
  background-color: green;
}

.node-path {
  background-color: yellow !important;
}

.node-start {
  background-color: rgb(255, 0, 0) !important;
}

.node-end {
  background-color: aqua !important;
}

.node-wall {
  background-color: black !important;
}
